freeglut/
glew/
Release/
*.sdf
*.suo
*.db
*.opendb
*.suo
*.ipch
*.db-shm
*.db-wal
*.aps
CG_skel_2017/CG_skel.sln
CG_skel_2017/CG_skel_w_MFC/CG_skel_w_MFC.aps
*.vcxproj
*.aps
CG_skel_2017/CG_skel.v12.suo
*.suo
CG_skel_2017/.vs/CG_skel/v15/.suo
*.txt
*.vcxproj
CG_skel_2013/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.filters
*.cd
*.log
*.filters
*.vcxproj
*.obj
*.pch
*.res
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.filters
CG_skel_2013/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.filters
CG_skel_2013/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj
*.glsl
*.suo
CG_skel_2017/.vs/CG_skel/v15/.suo
*.exe
*.aps
*.sln
CG_skel/CG_skel_w_MFC/CG_skel_w_MFC.rc
*.vcproj
CG_skel/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.user
*.user
*.htm
*.ilk
CG_skel/UpgradeLog.XML
*.log
*.log
*.log
