CG_skel_2013/*
CG_skel_2017/*
CG_skel_HW3_openGL/Debug
CG_skel_HW3_openGL/freeglut
CG_skel_HW3_openGL/glew
CG_skel_HW3_openGL/ipch
CG_skel_HW3_openGL/Release
CG_skel_HW3_openGL/*.*
*.aps
CG_skel_HW3_openGL/CG_skel_w_MFC/CG_skel_w_MFC.rc
*.vcproj
*.filters
CG_skel_HW3_openGL/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.user
*.log
*.vcxproj
*.lastbuildstate
*.tlog
*.obj
CG_skel_HW3_openGL/CG_skel_w_MFC/Release/CG_skel_w_MFC.pch
*.res
CG_skel_HW3_openGL/CG_skel_w_MFC/Release/vc120.pdb
CG_skel_HW3_openGL/CG_skel_w_MFC/Debug/CG_skel_w_MFC.pch
*.idb
*.pdb
CG_skel_HW3_openGL/CG_skel_w_MFC/glm/*
